/* Nav */

.vertical-nav {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	max-width: 320px;
}

.vertical-nav ul {
	width: 100%;
	list-style: none;
	justify-content: center;
}

.vertical-nav ul li {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0;
	text-align: center;
	flex: 1;
}

.vertical-nav ul li span {
	width: 100%;
	padding-left: 20px;
	text-align: left;
}

.vertical-nav a {
	position: relative;
	display: inline-flex;
	width: 100%;
	text-align: left;
	line-height: 40px;
}

.vertical-nav a span {
	vertical-align: middle;
	font-size: 14px;
	letter-spacing: 1px;
	z-index: 1000;
	text-align: right;
	color: var(--color-default);
}

.vertical-nav a:focus {
	outline: none;
}

.vertical-nav .active {
	background-color: rgb(101, 31, 255);
}

.vertical-nav .active span {
	color: #ffffff;
}

/* Content */

.content-wrap {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	overflow-y: scroll;
	width: 100%;
}